In [ ]:
import pandas as pd
import seaborn as sns

### Read in the public art data, drop the `Mapped Location` column and rename columns to lower case without spaces

In [ ]:
art = pd.read_csv('../data/public_art.csv')
art.head(2)

In [ ]:
art = art.drop(columns = ['Mapped Location'])
art = art.rename(columns = {'Title': 'title', 'Last Name': 'last_name', 
                            'First Name': 'first_name', 'Location': 'loc', 
                            'Medium': 'medium',  'Type': 'art_type', 'Description': 'desc', 
                            'Latitude': 'lat', 'Longitude': 'lng'})

### More exploration with pandas

 - .isnull.sum()
 - .value_counts()
 - .to_frame()
 - .reset_index()
 - .replace()
 - .describe()

In [ ]:
art.head(2)

#### Are there missing values in the `art` dataframe?

In [ ]:
art.info()

In [ ]:
art.isnull().sum()

#### Determine how many of each art type exists in the `art` dataframe

In [ ]:
art.art_type.value_counts()

#### Save the counts of each type to a new variable - is the new structure a dataframe?

In [ ]:
type_counts = art.art_type.value_counts()

In [ ]:
type(type_counts)

In [ ]:
#make series a df
type_counts = type_counts.to_frame()

print(type(type_counts))
type_counts.head(2)

In [ ]:
#reset index resets to 0-based index and moves existing index to a column
type_counts = type_counts.reset_index()
type_counts.head(2)

In [ ]:
type_counts.columns = ['art_type', 'count']
type_counts.head(3)

#### look at descriptive statistics for the `type_counts`

In [ ]:
type_counts.describe()

#### What are the uniques art types

In [ ]:
type_counts.art_type.unique()

### Cleanup time!
- change **mural** to **Mural**
- change **Sculpture/Fountain** to **Fountain**
- change **Bronzes** to **Sculpture**

1. Create a dictionary that maps the current values to the new ones
2. Use the `.replace()` method, passing it the mapping dictionary

In [ ]:
art_map_dictionary = {'mural': 'Mural', 'Sculpture/Fountain': 'Fountain', 'Bronzes': 'Sculpture' }

In [ ]:
art.art_type = art.art_type.replace(art_map_dictionary)

In [ ]:
art.art_type.value_counts()

#### Load the iris data from seaborn and look at how the average sepal width, sepal length, petal width, and petal length varies by species
 - which species has the smallest petals?

In [ ]:
iris_df = sns.load_dataset('iris')
print(iris_df.shape)
iris_df.head()

In [ ]:
iris_df.groupby('species').mean()