In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Read in the public art data

In [ ]:
art = pd.read_csv('../data/public_art.csv')
art.head(2)

In [ ]:
art = art.drop(columns = ['Mapped Location'])
art = art.rename(columns = {'Title': 'title', 'Last Name': 'last_name', 
                            'First Name': 'first_name', 'Location': 'loc', 
                            'Medium': 'medium',  'Type': 'art_type', 'Description': 'desc', 
                            'Latitude': 'lat', 'Longitude': 'lng'})

In [ ]:
type_counts = art.art_type.value_counts()

In [ ]:
#make series a df
type_counts = type_counts.to_frame()

#reset index resets to 0-based index and moves existing index to a column
type_counts = type_counts.reset_index()

In [ ]:
type_counts.columns = ['art_type', 'count']
type_counts.head(3)

In [ ]:
# map Frieze, Sculpture/Fountain, Fountain, and Relief to Sculpture
# map Street Art, mural to Mural
# map Bronzes to Monument

art.art_type = art.art_type.map({'Sculpture': 'Sculpture', 'Mural': 'Mural', 'Frieze': 'Sculpture',
             'Monument': 'Monument', 'Mobile': 'Mobile', 'Furniture': 'Furniture',
             'Mosaic': 'Mosaic', 'Relief': 'Sculpture', 'Stained Glass': 'Stained Glass',
             'Bronzes': 'Monument', 'Sculpture/Fountain': 'Sculpture',
             'Various': 'Various', 'Street Art': 'Street Art', 'mural': 'Mural',
             'Fountain': 'Sculpture', 'Multipart': 'Multipart'})
art.head(3)

#### Make a horizontal barplot
 - using `matplotlib.pyplot`
 - using seaborn

#### matplotlib - https://matplotlib.org/gallery/index.html
#### seaborn - https://seaborn.pydata.org/examples/index.html

### Simplest horizontal barplot using matplotlib.pyplot

In [ ]:
plt.barh('art_type', 'count', data=type_counts, color = 'green', edgecolor = 'black');

### Fancier horizontal barplot with seaborn

In [ ]:
plt.figure(figsize = (8, 6))
sns.set(style="whitegrid")
sns.barplot('count', 'art_type', data = type_counts, palette = 'colorblind')
plt.xlabel('')
plt.ylabel('')
plt.title('Types of Public Art in Nashville');

### Steps to create an aggregated dataset:
 1. Group by the columns you want to aggregate by with `df.groupby([col1, col2])`
 2. Use the `.agg()` function to get a count for groups
 3. Keep the desired columns / drop the ones you don't need  
 4. Rename columns (use `df.sort_values()` with `ascending = False` to put the largest value first

In [ ]:
# aggregate to get counts by type and artist
aggregated_art = art.groupby(['art_type', 'last_name', 'first_name']).agg('count').reset_index()

In [ ]:
aggregated_art.head(2)

#### Create a dataframe that aggregates the data by artist and gives a count of the number of works by the artist

In [ ]:
aggregated_art = aggregated_art[['art_type', 'last_name', 'first_name', 'title']] 
aggregated_art.columns = ['art_type', 'last_name', 'first_name','art_count']
aggregated_art = aggregated_art.sort_values('art_count', ascending = False)
aggregated_art.head()

In [ ]:
multiple_works = aggregated_art.loc[aggregated_art.art_count > 1]
multiple_works.shape

In [ ]:
multiple_works.head()

#### For loops

In [ ]:
last_names =  list(multiple_works.last_name)
first_names = list(multiple_works.first_name)

#### We can intialize an empty list and then build and append artists' full names in a for-loop

In [ ]:
artists=[]
for i in range(len(last_names)):
    artists.append(first_names[i] + ' ' + last_names[i])
artists

### Introduction to `iterrows()`

 - Our task: iterate through the `multiple_works` dataframe and print each artist and the number of works of a given type
 - `df.iterrows()` returns a tuple of row index and row values

In [ ]:
for index, row_values in multiple_works.iterrows():
    print('The index is ', index)
    print('The values are ', row_values)
    print('=========================')

In [ ]:
for index, row_values in multiple_works.iterrows():
    print(row_values['first_name'], row_values['last_name'], 'has',
         row_values['art_count'], 'public artworks of type', row_values['art_type'])